@import '../../../_variables';

.dropdown {
    width: 200px;
    margin: 30px auto;
    padding: 0;
    list-style: none;
    border: 1px solid $c-border;
    cursor: pointer;
    
    li {
        line-height: 40px;
        padding: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.2s, background-color 1s;

        &:not(:first-child):hover {
            background-color: $c-prim;
            color: white;
            transition: all 0.2s;
        }

        &:first-child {
            position: relative;
            height: 40px;
            font-weight: bold;

            &:after {
                content: '';
                position: absolute;
                right: 15px;
                top: 16px;
                border: 8px solid transparent;
                border-bottom-color: $c-text;
                transform: rotate(180deg);
                transition: transform 0.2s, top 0.2s;
            }
        }
    }

    &.open {
        li {
            height: 40px;

            &:first-child:after {
                top: 8px;
                transform: rotate(0deg);
            }
        }
    }
}