$img-logo: 'https://vortex.accuweather.com/adc2010/images/slate/icons/01.svg';

$c-text: darkslategray;
$c-prim: darkorange;
$c-sec: dodgerblue;
$c-border: lightgray;

$f-prim: 'Catamaran', Helvetica, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Catamaran');